@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  body{
    margin-left: 30px;
  }

  /*shared */
  .display-flex{
    display: flex;

  }
  /* navbar */
  .navbar{
    justify-content: space-between;
    

  }

  .header{
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(248, 241, 232);
  }


  .brand{
    font-weight: 700;
    font-size: 2.8rem;
  }
  .navul{
    list-style-type: none;
    
  }
 .nav-link{list-style-type: none;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 500;
    color: #424242;
  }
  .nav-item{
    margin-right: 20px;
    text-decoration: none;
    font-size: 16px;


  }
 
  .navul, .brand{
        max-width: 1440px;
        margin: auto;
  }
  .g3-description{
    margin: auto;
    text-align: center;
    max-width: 800px;

  }
  .title{
    font-weight: 700;
    font-size: 3.8rem;
  }
  .btn-primary{
    background-color: rgb(233, 159, 23);
    color: white;
    font-size: 22px;
    margin: 30px 1px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    height: 64px;
    width: 180px;
  }
  .banner-image{
    max-width: 100%;
    max-height: 100%;
  }
  .grid4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-left: 70px;
    max-width: 100%;
  }
  .Dark2{
    color: #746c6c;
  }
  .Orange{
    color: orange;
  }
  .black{
    color: black;
  }
  .grid{
    margin-top: 90px;
    display: flex;
    align-items: center;
    margin-left:30px;
    margin: 130px auto;
    max-width: 1440px;
    justify-content: space-around;
    color: #727272;
  }
  .features{
    font-size: 3.5rem;
    font-weight: 500;
  }
  .descrip{
    margin-left: 30px;
    max-width: 537px;
    max-height: 304px;
    align-items: center;
  }
  .featc{
    max-width: 100%;
    max-height: 100%;

  }
  .parapic{
    display: flex;
    justify-content: space-around;
    margin:130px auto;
    max-width: 1440px;
  }
  .para{
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
    margin: 20px;

  }
  .pic{
    max-width: 100%;
  }
  .parah{
    margin: 10px 10px;
    font-weight: 700;
    font-size: 2.8rem;
    padding-left: 30px;
    border-left:5px solid orange;

  }
  .box{
    margin: 1px 20px;
    border: 1px solid rgba(255, 255, 255, 0.096);
    padding: 20px;
  }
  .h3{
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1px 1px;
  }
  .btnpic{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  #small{
       font-size: 25px;
  }
  .btn-second{
    border: 1px solid rgba(255, 255, 255, 0.397);
    border-radius: 5px;
    padding: 20px;
    max-width: 312px;
    max-height: 160px;
    background-color: rgb(255, 182, 24);
    color: white;
    font-size: 45px;
    margin-top: -100px;
    margin-left: -72px;
  }
  .cardbox{
    margin: 0 auto;
    max-width: 1440px;

    
  }
  .card{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 24px;
    margin-top: 40px;
    margin: auto;
    margin-bottom: 50px;

  }
  .fact{
    height: 15rem;
    width: 15rem;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid orange;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    margin: 30px 30px;
    max-width: 100%;
    
    

  }
  #align{
    align-items: center;
    margin: auto;

    
  }
  .card>.fact>img{
    align-items: center;
    text-align: center;
    margin-top: 50px;
    max-width: 100%;
  }
  .cardboxinfo{
    margin: 40px 1px;
  }
  .sf{
    font-weight: 600;
    font-size: 2.5rem;
  }
  h4{
    font-size: 2rem;
    margin: 5px 5px;
  }
  h5{
    font-weight: 500;
    font-size: 1.4rem;
    margin: 5px 5px;

  }
  .sec3{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .info{
    max-width: 500px;
    margin: 50px auto;

  }
  .sponsors{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
    
  }
  .info>h1{
    font-size: 2.5rem;
    font-weight: 600px;
  }
  .foot{
    border: 1px solid rgba(116, 109, 109, 0.719);
    background-color: rgb(253, 207, 247);
    max-width: 1440px;
    max-height: 100px;
    text-align: center;
    align-items: center;
    margin: auto;
  }
  @media  screen and (max-width: 576px;) {
    .

    
  }